//app elements

// #path_header{
//   background-color: aqua;
// }

h1#path_header{
  width: 100;
  height: 100;
  background-color: aqua;
  color: aqua;
}
.files-grid{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  // height: 100px;
  // background-color: aqua;
}

.folder_up{
  width:70px;
  padding:20px;
}

files-grid::part(dir-tile) div::part(container){
  max-width: 100px;
  max-height: 100px;
  background-color: aqua;
}
dir_tile::part(container){
  max-width: 100px;
  max-height: 100px;
  padding: 20px;
  background-color: aqua;
}


//dir-tile
.container::part(container){
  padding: 20px;
  max-width: 100px;
  
  background-color: aqua;
}
.dir_icon{
  width: 100px;
  display: block;
}
.dir_name_wrapper{
  word-wrap: break-word;
  text-align : center;
  background-color: aqua;
}

//file-tile
file-tile .main_container{
  padding: 20px;
  max-width: 100px;
}
file-tile .file_icon{
  height : 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
file-tile .file_name_container{
  word-wrap: break-word;
  text-align : center
}

//files-grid
//   files-grid .file-grid{
//     display: flex;
//     flex-wrap: wrap;
//     flex-direction: row;
//   }

files-grid .folder_up{
  width:70px;
  padding:20px;
}

files-grid .dir_tile{
  width: 100px;
  height: 100px;
}

//nav-link
nav-link .nav_link_wrapper{
  padding: 20px;
}